rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // photos de profil
    match /profilePictures/{userId} {
      // lecture publique
      allow read: if true;
      
      // ecriture pour tous les utilisateurs authentifies
      allow write: if request.auth != null 
        && request.resource.size < 5 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }
    
    // images dactivites
    match /activityImages/{userId}/{activityId} {
      // lecture publique
      allow read: if true;
      
      // ecriture pour tous les utilisateurs authentifies
      allow write: if request.auth != null 
        && request.resource.size < 10 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }
  }
}
